<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
</head>
<body>
    <% if (today.includes("Sunday") || today.includes("Saturday")) { %>
        <h1 style="color:red;"><%= today %></h1>
    <% } else { %>
        <h1 style="color:blue;"><%= today %></h1>
    <% } %> 

  
    <form action="/" method="post">
        <input name = "task" type="text" placeholder="What's on your mind?" autocomplete="off" autofocus>
        <button type="submit">Submit</button>
    </form>

    <ul>
        <% for(let i = 0; i < data.length; i++){ %>
            <li> <%= data[i] %> </li>
        <% } %>
    </ul>
</body>
</html>